@use './UI/button/MyButton.module.scss';
* {
    margin: 0;
    padding: 0;
    
}

.App{
    text-align: center;
    
}
    nav {
        margin: 0;
        width: 100%;
        height: 80px;
        background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(208,230,255,1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
      }
      
      a {
        color: white;
        text-decoration: none;
        margin: 10px;
        font-size: 25px;
      }





